<h1>User List</h1>

<div id="users">
  <% @users.each do |user| %>
    <div class="user">
      <% if user.id != current_user.id  && !current_user.friend?(user.id) %>
        <p> <%= user.first_name %> <%= user.last_name %></p>
        <% if current_user %>
          <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
        <% end %>
        <hr>
      <% end %>
    </div>
  <% end %>
</div>

<footer class="footer">
  <% if current_user %>
    <a href="/users/<%= current_user.id %>">Home</a>
    <a href="/logout">Log Out</a>
  <% else %>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
  <% end %>
</footer>
