

<div class="login-form">
  <%= form_tag '/users', method: :post do %>
      <div class="form-group">
        <label for="firstName">First Name: </label><input type="text" name="first_name" class="form-control">    
      </div>
      <div class="form-group">
        <label for="lastName">Last Name: </label><input type="text" name="last_name" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email:</label><input type="email" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password: </label><input type="password" name="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password: </label><input type="password" name="password_confirmation" class="form-control">
      </div>
      <button type="submit" class="btn btn-block" name="submit">Submit</button>
  <% end %>
</div>
