<div id="app">
  <%= @user.email %>
  <div id="userId"><%= @user.id %></div>

  <div v-for="ride in inProgressRides">
    <div class="in-progress-bar">
      <span>{{ ride.starting_location }}</span>
      <span>{{ ride.ending_location }}</span>
      <span>{{ ride.created_at }}</span>
      <span>{{ ride.miles }} Miles</span>
      <span>{{ ride.in_progress }}</span>
      <button class="btn in-progress-button" v-on:click="finishRide(ride)"><i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i>
    </div>
  </div>
  <div id="userMilesBox">
    {{ miles }} MI
  </div>
  <div class="sort-button-row">
    <span v-on:click="makeMilesBoxLifetime() + makeRankingsLifetime()" id="lifetime-button" class="selected-miles"> Lifetime</span>
    <span v-on:click="makeMilesBoxWeekly() + makeRankingsWeekly()" id="weekly-button"> Weekly</span>
    <span v-on:click="makeMilesBoxDaily() + makeRankingsDaily()" id="today-button"> Today</span>
  </div>
  <a href="/rides" class="btn btn-block bike-button"><i class="fa fa-bicycle fa-2x"></i></a>
  
  <div id="friend-box">
    <p class="feature-box-header">Rankings</p>
      <div v-for="(friend, index) in sortedFriends">
        <div id="rankings">
          <p v-if="firstPlace(index)">
            {{ friend.firstName }} {{ friend.miles }}
            <i class="fa fa-trophy" aria-hidden="true"></i>
          </p>
          <p v-else>
            {{ friend.firstName }} {{ friend.miles }}
          </p>
        </div>
      </div>
  </div>

  <div id="activity-box">
    <div class="feature-box-header">Road Activity</div>
      <div class="activityRides" v-for="ride in sortedRides">
        <div>
          <i class="fa fa-road" aria-hidden="true"></i>
          {{ ride.firstName }} biked {{ ride.miles }} miles.
          {{ ride.date }}
        </div>
        <div v-bind:id="'like' + ride.rideId">
          <div v-if="isLikedByUser(ride.rideId)">
              IS LIKED ALREADY
          </div>
          <div v-else>
            <i class="fa fa-thumbs-up" aria-hidden="true" v-on:click="likeRide(ride.rideId)"></i>
            Like
          </div>
        </div>
        <input type="text" placeholder="Write comment" v-bind:id="ride.rideId" v-on:keyup.enter="addComment(ride.rideId)"></input>
        <div v-bind:id="'comment' + ride.rideId">
          <div v-for="comment in ride.rideComments">
            {{ comment.comment_text }}
            {{ comment.user_id }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<footer class="footer">
  <% if current_user %>
    <a href="/users">Make Friends</a>
    <span class="chain-link">-</span>
    <a href="/rides">New Ride</a>
    <span class="chain-link">-</span>
    <a href="/logout">Log Out</a>
  <% else %>
    <a href="/signup">Sign Up</a>
  <% end %>
</footer>