<div id="app">
<%= @user.email %>

<div>{{ inProgressRides }}<button class="btn" v-on:click="finishRide()"><i class="fa fa-flag-checkered" aria-hidden="true"></i></div>
<div id="userMilesBox">
  38.4 mi
</div>
<a href="/rides">Track a New Ride</a>
</div>