<div id="app">
  <%= @user.email %>
  <div id="userId"><%= @user.id %></div>

  <div v-for="ride in inProgressRides">
    <div class="in-progress-bar">
      <span>{{ ride.starting_location }}</span>
      <span>{{ ride.ending_location }}</span>
      <span>{{ ride.created_at }}</span>
      <span>{{ ride.miles }} Miles</span>
      <span>{{ ride.in_progress }}</span>
      <button class="btn in-progress-button" v-on:click="finishRide(ride)"><i class="fa fa-flag-checkered fa-fw" aria-hidden="true"></i>
    </div>
  </div>
  <div id="userMilesBox">
    {{ miles }} MI
  </div>
  <a href="/rides" class="btn btn-block">Track a New Ride</a>
  <div></div>
</div>
 <footer class="footer">
    <% if current_user %>
      <a href="/logout">Log Out</a>
    <% else %>
      <a href="/signup">Sign Up</a>
    <% end %>
  </footer>