/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #4ab678;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  background-color: #282B2A;
  color: white;
}

.btn:hover {
  background: #4ab678;
  text-decoration: none;
  color: white;
}

.btn-block {
  width: 80%;
  margin: 0 auto;
}

.street-line {
  border-bottom: 2px dashed white;
  width: 125px;
}

.bike-icon {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
}

.header-font {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  margin-top: 4px;
}

.navbar {
  background-color: #282B2A;
  color: white;
  width: 100%;
  border-radius: 0;
  border-bottom: 15px solid white;
  opacity: .95;
}

.color_test {
  color: white;
}

.navbar a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

a:active {
    text-decoration: underline;
    color: white;
}