// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#userMilesBox{
  background: white;
  color: #282B2A;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  height: 100px;
  border: 2.5px solid black;
  border-radius: 1%;
  font-family: 'Comfortaa', cursive;
  font-size: 80px;
}

#rideMiles{
  line-height: 30px;
}

.in-progress-bar {
  background: white;
  color: #282B2A;
  width: 80%;
  margin: 0 auto;
  text-align: right;
  text-transform: uppercase;
  border: 2.5px solid black;
  border-radius: 1%;
  font-family: 'Comfortaa', cursive;
}

.in-progress-button {
  border: 5px solid white; 
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}