// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
hr {
  border-top: 5px solid white;
  width: 100px;
  margin-right: 90%;
}

.bike-button {
  border-radius: 1%;
}
.fa-trophy {
  color: #D4AF37;
}

.friend-box-header {
  background: #282B2A;
  color: white;

}

.sort-button-row {
  background: white;
  color: #282B2A;
  width: 80%;
  margin: 0 auto;
  padding-right: 10px;
  text-align: right;
  font-size: 15px;
  text-transform: uppercase;
  border: 2.5px solid #282B2A;
  font-family: 'Comfortaa', cursive;
}

.selected-miles {
  background: #282B2A;
  color: white;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 10%;
}

#friend-box {
  background: white;
  color: #282B2A;
  text-align: center;
  text-transform: uppercase;
  border: 2.5px solid #282B2A;
  border-radius: 1%;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  overflow: hidden;
  width: 40%;
  margin: 20px auto;
}

#users {
  color: white;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  overflow: hidden;
  width: 80%;
  margin: 40px auto;
}

#users a {
  color: white;
}

#users a:visited {
  color: white;
}


#userId {
  display: none;
}

#userMilesBox{
  background: white;
  color: #282B2A;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  height: 100px;
  border: 2.5px solid #282B2A;
  font-family: 'Comfortaa', cursive;
  font-size: 80px;
  overflow: hidden;
}

#rideMiles{
  line-height: 30px;
}

.in-progress-bar {
  background: white;
  color: #282B2A;
  width: 80%;
  margin: 0 auto;
  font-size: 15px;
  text-align: right;
  text-transform: uppercase;
  border: 2.5px solid #282B2A;
  font-family: 'Comfortaa', cursive;
}

.in-progress-button {
  // border: 5px solid white; 
  border-radius: 50%;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}