<div id="app">

  <% if current_user %>
    <p>User email: <%= current_user.email %> User id: <span id="user-id"><%= current_user.id %></p>
  <% end %>

  <div id="milesBox">
    <p id="rideMiles"></p>
    <p> Miles</p>
  </div>
  <div id="weather_box"></div>
  <div>{{ inProgressRides }}<button class="btn" v-on:click="finishRide()"><i class="fa fa-flag-checkered" aria-hidden="true"></i></div>

  <input id="origin-input" v-model="newOrigin" class="controls" type="text"
      placeholder="Enter an origin location">

  <input id="destination-input" v-model="newDestination" class="controls" type="text"
      placeholder="Enter a destination location">

  <div id="map">
  </div>

  <div id="weather_box"></div>


    {{ message }}
  <div id="saveRide">
    <button class="btn" v-on:click="createRide()">Start My Ride</button>
  </div>

</div>

<script src="rides.js">
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&libraries=places&callback=initMap">
</script>
