<h1>Bike Parkway</h1>

<div id="app">
  <input id="origin-input" v-model="newOrigin" class="controls" type="text"
      placeholder="Enter an origin location">

  <input id="destination-input" v-model="newDestination" class="controls" type="text"
      placeholder="Enter a destination location">

  <% if current_user %>
    <p>User email: <%= @ride.user.email %></p>
  <% end %>

  <div id="miles_box">
  </div>
  <hr>

  <div id="map"></div>

  <div id="weather_box"></div>


    {{ message }}
  <div id="saveRide">
    <button v-on:click="createRide()">Start My Ride</button>
  </div>

</div>

<script src="rides.js">
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&libraries=places&callback=initMap">
</script>
