<h1>Bike Parkway</h1>

<input id="origin-input" class="controls" type="text"
    placeholder="Enter an origin location">

<input id="destination-input" class="controls" type="text"
    placeholder="Enter a destination location">

<% if current_user %>
  <p>User email: <%= @ride.user.email %></p>
<% end %>

<div id="miles_box"><span id="miles_count"></span></div>


<div id="save_ride">
  <button>Start My Ride</button>
</div>
<hr>

<div id="map"></div>

<div id="weather_box"></div>

<script src="rides.js">
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&libraries=places&callback=initMap">
</script>
