<div id="app">
  <div id="weather-box"></div>
  <div>{{ inProgressRides }}<button class="btn" v-on:click="finishRide()"><i class="fa fa-flag-checkered" aria-hidden="true"></i></div>
  <div id="user-id"><%= current_user.id %></div>
  <div id="milesBox">
    <span id="rideMiles"></span> mi
  </div>
  <div>{{ message }}</div>
  <input id="origin-input" v-model="newOrigin" class="controls" type="text"
      placeholder="Enter an origin location">

  <input id="destination-input" v-model="newDestination" class="controls" type="text"
      placeholder="Enter a destination location">

  <div id="map">
  </div>
  <div id="save-ride">
    <button class="btn btn-block" v-on:click="createRide()">Start My Ride</button>
  </div>

</div>

<script src="rides.js">
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&libraries=places&callback=initMap">
</script>
