Rides New Page

<%= form_tag '/rides', method: :post do %>
  <p><input type="text" name="starting_location"></p>
  <p><input type="text" name="ending_location"></p>
  <p><input type="submit" name="Get Directions"></p>
<% end %>