<!DOCTYPE html>
<html>
  <head>
    <title>BikeParkway</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
    <script src="https://use.fontawesome.com/754873ed00.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
  <nav class="navbar navbar-fixed-top">
    <a class="navbar-brand header-font" href="#">Bike Parkway </a>
    <a class="navbar-right bike-icon" href="/rides"><i class="fa fa-bicycle fa-3x"></i></a>
  </nav>
    <%= yield %>
  </body>


</html>
